// Chatting.scss
@import url(Common.scss);
$backgroudColor: #DCD7C9;
$borderColor: #96acba;

// input 자동입력 색상 제거
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s;
-webkit-text-fill-color: #000 !important;
}

/* header */
.chatting_header header {
  z-index: 999;
  position: fixed;
  color: #000; 
  background-color: $backgroudColor; 
  border-bottom: transparent;
  .title_bar {
    .left_item>a {
      color: #000; 
      opacity: 1; 
      font-size: 24px;
    }
    .right_item>a {
        color: #000; 
        font-size: 16px;
        i {
          padding-left: 5px;
        }
    }
}
}

/* main */
body {
  width: calc(100vw - calc(100vw - 100%));
}
main.chatting {
  display: flex; 
  flex-direction: column; 
  // height: calc(100vh - 109px);
  padding-top: 64px; 
  padding-bottom: 50px;
  background: $backgroudColor;
  .date_info {
    opacity: 0.5; 
    text-align: center; 
    margin: 10px;
  }
  .chat_box {
    position: relative;
    display: inline-flex; 
    flex-direction: column; 
    align-items: flex-start; 
    width: fit-content; 
    max-width: calc(100% - 80px); 
    .chat {
      z-index: 1;
      position: relative;
      font-size: 14px; 
      line-height: 1; 
      margin: 5px; 
      padding: 10px 5px; 
      border-radius: 5px; 
      background: #fff;
      &::before {
        z-index: -1;
        position: absolute;
        width: 18px;
        height: 10px;
        background-color: #fff;
        top: 60%;
        right: -5px;
        transform: rotate(0deg) skewX(45deg);
        content: '';
      }
    }
  }
  .my {
    align-self: flex-end; 
    align-items: flex-end; 
    max-width: 320px; 
    margin-right: 30px;
    .chat {
      background-color: #ffe73a;
      &::before {
        background-color: #ffe73a;
        transform: rotate(0deg) skewX(-45deg);
      }
    }
    .chat_time {
      position: absolute; 
      bottom: 0;
      left: -60px; 
      width: 60px; 
      opacity: 0.5;
      font-size: 12px;
    }
    h4 {
      height: 100%;
      text-align: left;
      word-break: break-all;
    }
  }
  .formBtn, .formInput {
    font-family: 'Nanum Gothic', sans-serif;
  }

  .talks {
    position: relative;
    margin: 5px; 
    padding: 10px 5px; 
    border-radius: 5px; 
    background-color: #ffe73a;
    font-size: 14px; 
    line-height: 1; 
  }

  .talks__actions {
    position: absolute;
    top: 5px;
    left: -35px;
  }
  
  .other {
    max-width: 240px; 
    margin-left: 50px; 
    margin-top: 20px;
    .profile_img {
      position: absolute; 
      top: -5px; 
      left: -35px; 
      width: 35px; 
      height: 35px;
    }
    .profile_name {
      display: block; 
      font-weight: bold; 
      margin: 5px;
    }
    .chat {
      &::before {
        left: -5px;
      }
    }
    .chat_time {
      position: absolute; 
      right: -60px; 
      bottom: 5px;
      width: 60px; 
      opacity: 0.5;
    } 
  }
}

footer {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #eee;
  &.on {
    height: 250px;
    form {
      transform: translateY(-100px);
      .plus_btn {
        position: relative;
        margin-top: 0 !important;
        .x_btn {
          z-index: 99999 !important;
          display: block !important;
          position: absolute;
          top: 18px;
          left: 15px;
          font-size: 20px;
        }
      }

      label.image-attach {
        position: absolute;
        left: 50px;
        font-size: 80px;
      }
      .attach_temp {
        img {
          width: 150px;
          height: 180px;
          object-fit: cover;
        }
      }
    }
  }
  
  form {
    width: 100%;
    padding-right: 15px;

    fieldset.text_box {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      div>.plus_btn {
        margin-top: 10px;
        padding: 15px;
        font-size: 20px;
        color: #999;
        cursor: pointer;
        .x_btn {
          display: none;
          cursor: pointer;
        }
      }

      .text_field {
        width: 100%;
        height: 32px;
        padding-left: 15px;
        border: 1px solid #ddd;
        border-radius: 20px;
        &:focus {
          outline: 0;
        }
      }
      .emoticon_btn {
        font-size: 24px;
        color: orange;
        padding: 5px;
      }
      .voice_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #0B6B50;
        width: 30px;
        height: 28px;
        padding: 5px;
      }
      .send_btn {
        width: 80px;
        height: 38px;
        margin-left: 5px;
        border: 1px solid #ddd;
        border-radius: 20px;
        font-size: 14px;
        font-family: 'Nanum Gothic', sans-serif;
        cursor: pointer;
      }
    }
  }
}
